/* global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input,
button {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
